# .env.example

# Server Port
PORT=3000

# Node Environment
NODE_ENV=development

# Database URL
DATABASE_URL="postgres://user:password@localhost:5432/database"

# JWT Secret
JWT_SECRET="your_jwt_secret"

# Session Secret
SESSION_SECRET="your_session_secret"

# Yahoo Email
YAHOO_EMAIL="your_email@yahoo.com"

# Yahoo App Password
YAHOO_APP_PASSWORD="your_yahoo_app_password"

# Stripe Publishable Key
STRIPE_PUBLISHABLE_KEY="your_stripe_publishable_key"

# Stripe Secret Key
STRIPE_SECRET_KEY="your_stripe_secret_key"

# Stripe Webhook Secret
STRIPE_WEBHOOK_SECRET="your_stripe_webhook_secret"